* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  margin: auto;
  height: 80%;
  width: 80%;
  max-width: 1000px;
  max-height: 600px;
  background-color: salmon;
}

.container .slider {
  position: relative;
  width: 80%;
  height: 100%;
}

.container .thumbs {
  position: relative;
  height: 100%;
  width: 20%;
}

.container .thumb-img {
  min-height: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4);
}

.container .slider-img {
  position: absolute;
  inset: 0;
  /* display: none; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider .info {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: end;
  color: white;
  padding: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  inset: 0;
}

.arrow-up,
.arrow-down {
  font-size: 2em;
  margin: 0.3rem;
  color: white;
  opacity: 50%;
  cursor: pointer;
}

.container .slider-img.active {
  display: block;
}

.container .thumb-img.active {
  border: 5px solid white;
  filter: brightness(1);
}
